.lang-select {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-direction: column;

  font-family: "Stolzl Book";
  font-size: 1.6rem;
  font-weight: 400;

  li {
    margin-bottom: .1rem;

    &:last-child {
      margin-bottom: 0;
    }

    &.active a {
      background: var(--primary-color);
      color: white;
    }
  }

  a {
    width: 100%;
    background: none;
    border: none;
    padding:       .1rem;
    padding-right: .5rem;
    padding-left: 1.9rem;
    
    @include sm {
      padding-right: .6rem;
      padding-left: 2.4rem;
    }
  }
}