.nav {
  display: inline-flex;

  @include sm {
    font-size: 2.4rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
  }

  li {
    &::after {
      content: '/';
      margin: 0 .5rem;
    }

    &:last-child::after {
      display: none;
    }
  }

  a {
    text-decoration: underline;  

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}